<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
  <link rel="stylesheet" type="text/css" href="/static/40X.css">
  <title>403 Denied Access</title>

</head>

<body>
  <div class="border">
    <div class="content-box">
      <div class="header">
        <div class="dash">
          <div class="minus"></div>
        </div>
        <div class="title">403 Denied Access</div>
      </div>
      <div class="content">
        <div class="icon">i</div>
        {{ if .Error }}
          <p>
            <br>{{ .Error }}</br>
          </p>
        {{ else }}
          <p>
            <br>Oops Access Denied!<br>
          </p>
        {{ end }}
        <div class="button">
          <a href="/" class="chosen">OK</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
